!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %meta{:content => "Your description goes here", :name => "Description"}/
        %meta{:content => "Your, Keywords, Go, Here", :name => "Keywords"}/
        %meta{:content => "Your Website Title", :property => "og:title"}/
        %meta{:content => "lolastef", :property => "og:type"}/
        %meta{:content => "http://lolastef.com/", :property => "og:url"}/
        %meta{:content => "http://lolastef.com/images/image1.png", :property => "og:image"}/

        %title
            LolaStef Blog#{'- ' + current_article.title unless current_article.nil?}

        = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
        = javascript_include_tag 'vendor/jquery.min.js', 'vendor/semantic-ui.js', 'app.js'
        = stylesheet_link_tag 'all'

    %body
        -# Navigation
        .ui.secondary.pointing.menu.large
            .ui.container.menu.large
                .ui.container
                    %a.active.item{:href => '/'}
                        menu
                .ui.container
                    .header.item
                        L o l a S t e f
                .ui.container.social
                    %a.active.item.link{ :href => 'mailto:contact@lolastef.com' }
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    %a.active.item.link{ :href => 'https://fr.pinterest.com/lolastefcom/', :target=> '_blank' }
                        <i class="fa fa-pinterest"></i>
                    %a.active.item.link{ :href => 'https://twitter.com/lolastefcom', :target=> '_blank' }
                        <i class="fa fa-twitter"></i>
                    %a.active.item.link{ :href => 'http://instagram.com/lolastefcom', :target=> '_blank' }
                        <i class="fa fa-instagram"></i>

